.productCarousel {
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.mainImage {
  overflow: hidden;
  align-self: center;
}

.imageBar {
  display: flex;
  flex-direction: column;
  min-width: 77px;
  flex-wrap: nowrap;
  width: 10%;
}

.imageCarousel {
  width: 62%;
  padding: 5px;
  margin: 10px;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
}

.imageCarousel:hover {
  border-color: #DA3625;
  ;
}